---
interface Props {
  titulo_pagina: string;
  descripcion_pagina: string;
  fecha_publicacion: string;
  keywords_pagina: string;
}

const site_url = "https://sabata.com";
const enterprise = "Sabata";

const {
  titulo_pagina,
  descripcion_pagina,
  keywords_pagina,
  fecha_publicacion,
} = Astro.props;
---

<!-- CSP -->
<meta
  http-equiv="Content-Security-Policy"
  content="default-src 'self' 'unsafe-inline' 'unsafe-eval'"
/>

<!-- Icono del Sitio Web -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<!-- SITEMAP.XML -->
<link rel="sitemap" href="/sitemap-index.xml" />

<!-- CACHE -->
<meta http-equiv="Cache-Control" content="max-age=3600" />

<!-- Canonical URL SEO -->
<link rel="canonical" href={site_url} />

<!-- Codificación y Adaptabilidad -->
<meta charset="UTF-8" />
<meta name="description" content={descripcion_pagina.substring(0, 163)} />
<meta name="viewport" content="width=device-width" />

<!-- Generador del Sitio Web -->
<meta name="generator" content={Astro.generator} />

<!-- Mejor Optimizacion del SEO -->
<meta http-equiv="Content-Language" content="es-EC" />
<meta name="author" content={enterprise} />
<meta name="publisher" content={enterprise} />
<meta name="theme-color" content="#FFFFFF" />

<!-- Informacion Adicional para el SEO -->
<meta name="geo.region" content="MX-EC" />
<meta name="geo.placename" content="Quito, Ecuador" />
<meta name="address" content="Quito, Ecuador" />
<meta name="copyright" content="2024, Sabata" />
<meta name="date" content={fecha_publicacion} />

<!-- Palabras Clave y Tema del Sitio Web -->
<meta name="keywords" content={keywords_pagina} />

<!-- Redes Sociales -->
<meta name="og:title" content={titulo_pagina} />
<meta name="og:description" content={descripcion_pagina.substring(0, 163)} />
<meta name="og:url" content={site_url} />
<meta property="og:site_name" content={enterprise} />
<meta property="og:type" content="website" />
<meta property="og:locale" content="es_EC" />

<!-- Mejorar la visibilidad de su sitio en los resultados de los motores de búsqueda. -->
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<!-- Titulo de la Pagina -->
<title>{titulo_pagina}</title>
